<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Group">
  <test thread-count="5" name="Test_Group">
     <groups>
		 <run>
			 <include name="Sanity"></include>
			 <exclude name="Regression"></exclude>
		 </run>
	 </groups>
    <classes>
      <class name="TestCases.Inventorypage2Test"/>
      <class name="TestCases.LoginPage_Test"/>
    </classes>
  </test> <!-- Test_Group -->
</suite> <!-- Suite_Group -->
